# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
.env
.env.*

# Logs
*.log
logs/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Secrets
.secrets.toml
**/.secrets.toml

# Docker
*.pid
data/
tmp/
